<div *ngIf="pokemon != null && pokemonDetails != null">
  <h1>
    <span style="color: gray">#{{ selectedId }}</span> {{ pokemon.name }}
  </h1>

  <div class="grid-container">
    <div class="square">
      <img width="400" height="400" [src]="pokemon.imageURL" />
      <app-pokemon-type-labels [types]="pokemon.types"></app-pokemon-type-labels>
    </div>

    <div class="square">
      <ul>
        <li>
          <b>{{ 'pokemonDetails.height' | translate }}: </b>{{ pokemon.heightInMeters }} m
        </li>
        <li>
          <b>{{ 'pokemonDetails.weight' | translate }}: </b>{{ pokemon.weightInKg }} kg
        </li>
        <li>
          <b>{{ 'pokemonDetails.baseExperience' | translate }}: </b>{{ pokemon.baseExperience }}
        </li>

        <li *ngFor="let point of pokemon.points">
          <b>{{ 'pokemonDetails.' + point.name | translate }}: </b>{{ point.value }}
        </li>
      </ul>
    </div>
  </div>

  <div>
    <p>{{ getPokemonDescription() }}</p>

    <app-pokemon-evolution-chain-layout></app-pokemon-evolution-chain-layout>

    <p>
      <b>{{ 'pokemonDetails.games' | translate }}: </b>{{ pokemon.gameNames.join(', ') }}
    </p>
  </div>

  <app-button (click)="goToPokemonCardListPage()">Go to card list</app-button>
</div>
