<p *ngIf="searchText.trim() != ''">Searching {{ searchText }}...</p>

<app-table [headers]="headers" [items]="pokemons">
    <ng-template let-item>
        <span *ngIf="item.header === 'id'"># {{ item.value }}</span>
        <img *ngIf="item.header === 'imageURL'" [src]="item.value" height="90" width="90" />
        <span *ngIf="item.header === 'name'">{{ item.value }}</span>
        <span *ngIf="item.header === 'types'">{{ item.value }}</span>
    </ng-template>
</app-table>

<app-table-paginator
    [disabled]="isLoading"
    [pageQuantity]="getPageQuantity()"
    [selectedIndex]="selectedIndex"
    (changeSelectedIndex)="onChangeSelectedPaginatorIndex($event)"
></app-table-paginator>

<app-loader *ngIf="isLoading"></app-loader>
