<div class="about">
  <h1>{{ 'infoPage.title' | translate }}</h1>
  <p>{{ 'infoPage.message' | translate }}</p>

  <div class="div-links">
    <a class="github" href="https://github.com/SamirSales/pokedex-angular" target="_blank">GitHub</a>

    <div style="width: 100%; height: 0.5rem"></div>

    <a class="linkedin" href="https://www.linkedin.com/in/samir-ribeiro-916a39a4/" target="_blank">LinkedIn</a>
  </div>

  <app-button (click)="goToHomePage()">🡨 {{ 'general.goBack' | translate }}</app-button>
</div>
