.about {
  text-align: center;
  padding: 1.875rem;
}
.about p {
  color: gray;
  margin: 1.875rem;
}
.div-links {
  margin: 0 auto 3.438rem auto;
}
a.github {
  text-decoration: none;
  display: block;
  margin: 0 auto;
  width: 11.25rem;
  border: solid 0.063rem black;
  padding: 0.625rem 0.313rem;
  color: white;
  background-color: black;
}
a.github:hover {
  color: black;
  background-color: white;
}
a.linkedin {
  text-decoration: none;
  display: block;
  margin: 0 auto;
  width: 11.25rem;
  border: solid 0.063rem #0e76a8;
  padding: 0.625rem 0.313rem;
  color: white;
  background-color: #0e76a8;
}
a.linkedin:hover {
  color: #0e76a8;
  background-color: white;
}
