<app-dialog [visible]="isVisible()" (close)="close()">
    <h1>
        <span style="color: gray">#{{ pokemon.id }}</span> {{ pokemon.name }}
    </h1>

    <div class="grid-container">
        <div style="text-align: center; padding: auto">
            <img [src]="pokemon.imageURL" width="200" height="200" />
        </div>

        <div>
            <ul>
                <li><b>Height: </b>{{ pokemon.heightInMeters }} m</li>
                <li><b>Weight: </b>{{ pokemon.weightInKg }} kg</li>
                <li><b>Base experience: </b>{{ pokemon.baseExperience }}</li>

                <li *ngFor="let point of pokemon.points">
                    <b>{{ point.name.charAt(0).toUpperCase() + point.name.slice(1) }}: </b>{{ point.value }}
                </li>
            </ul>
        </div>
    </div>

    <app-pokemon-type-labels [types]="pokemon.types"></app-pokemon-type-labels>

    <p><b>Games: </b>{{ pokemon.gameNames.join(', ') }}</p>
</app-dialog>
